body
{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-navbar
{
	transition: background-color .2s ease,min-height .2s ease;
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
}
.top-logo
{
  height: 50px;
}

.navbar-nav
{
    justify-content: center;
    font-size: 16px;
}

.navbar-nav .nav-link
{
    font-size: 12pt;
}
.nav-buttonz
{
	text-align: right !important;
	margin-right: 20px;
}
.footer-logo
{
	height: 60px;
	margin: 10px 0;
}

.hidden, .register-container .nav-link.disabled
{
    display: none;
}

a
{
  color: #84f2f6;
  text-decoration: none;
  background-color: transparent
}

a:hover
{
  color: #3deaf1;
  text-decoration: underline
}

.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }

.neighbor-bg
{
    display: block;
    position: relative;
    width: 100%;
    opacity: 0.75;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./images/Neighborhood.png');
}

.dark-overlay
{
    display: inline-block;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid #000;
    border-radius: 5px;
}

.grad-hr
{
    content: "";
    display: block;
    width: 70%;
    margin: 1rem auto;
    height: 4px;
    background: linear-gradient(90deg, transparent, white, transparent);
}

.team
{
    display: inline-block;
    width: 75%;
    margin: 0 auto;
}
.team .msg-box
{
     color: #686868;
}

.img-box
{
    border: 10px solid #AAA;
}

.register-container
{
    width: 600px;
}
.register-container form
{
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
}
.register-container .nav-tabs .nav-link
{
    font-weight: bold;
    border: 0;
    color: #8d8d8d;
}
.register-container .nav-tabs .nav-link:hover,
.register-container .nav-tabs .nav-link.active:hover
{
    font-weight: strong;
    color: #ce4b7d;
    border-bottom: 3px solid #ce4b7d;
}
.register-container .nav-tabs .nav-link.active
{
    font-weight: strong;
    color: #2a5ece;
    border-bottom: 3px solid #2a5ece;
}

.flat
{
    border: 0;
    background-color: inherit;
}

.nomatch
{
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./images/meadow.png');
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomatch .msg
{
    position: absolute;
    display: block;
    top: 100px;
    margin: 0 auto;
    padding: 30px;
    width: 500px;
    border: 2px solid #AAA;
    border-radius: 10px;
    background-color: white;
}

.footer
{
	width: 100%;
	background-color: rgb(230, 230, 230);
	color: rgb(100, 100, 100);
	text-align: left;
	padding: 20px 40px 5px 40px;
}

.footer a
{
  color: #5da7aa;
  text-decoration: none;
  background-color: transparent
}

.footer a:hover
{
  color: #5da7aa;
  text-decoration: underline
}

.mls-disclaimer
{
    margin: 8px 0;
    font-size: .75em;
}
