body
{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-navbar
{
	transition: background-color .2s ease,min-height .2s ease;
}
.top-logo
{
  height: 120px;
}
.navbar-nav
{
	width: inherit;
	flex-grow: 1;
}
.nav-buttons
{
	text-align: right !important;
	margin-right: 20px;
}
.footer-logo
{
	height: 60px;
	margin: 10px 0;
}

a
{
  color: #84f2f6;
  text-decoration: none;
  background-color: transparent
}

a:hover
{
  color: #3deaf1;
  text-decoration: underline
}

.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }

.nomatch
{
    display: block;
    position: relative;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./images/meadow.png');
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomatch .msg
{
    position: absolute;
    display: block;
    top: 100px;
    margin: 0 auto;
    padding: 30px;
    width: 500px;
    border: 2px solid #AAA;
    border-radius: 10px;
    background-color: white;
}

.footer
{
	width: 100%;
	background-color: rgb(230, 230, 230);
	color: rgb(100, 100, 100);
	text-align: left;
	padding: 20px 40px 5px 40px;
}

.footer a
{
  color: #5da7aa;
  text-decoration: none;
  background-color: transparent
}

.footer a:hover
{
  color: #5da7aa;
  text-decoration: underline
}

.mls-disclaimer
{
    margin: 8px 0;
    font-size: .75em;
}
